* {
  margin: 0;
  padding: 0;
}

#info-block {
  display: block;
  position: absolute;
  top: 20%;
  left: 15%;
  padding: 12px 20px;
  max-width: 380px;
  font-size: 20px;
  line-height: 28px;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  opacity: 0;
  transition: all 0.3s;
}
